.section.about-me {
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.075);
  display: flex;
  max-height: 100vh;
}

.section.about-me .left {
  display: flex;
  flex: 0 0;
}

.section.about-me .right {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 70px 0 0 70px;
}

.section.about-me .splash {
  flex: 1;
  min-width: 275px;
  background: url(/splash_2.jpg) no-repeat center center;
  background-size: cover;
}

.section.about-me .content {
  display: flex;
  padding-top: 70px;
}

.section.about-me .title {
  display: flex;
  flex-direction: column;
}

.section.about-me .title .header {
  font-family: 'Metropolis Regular';
  font-size: 37px;
  color: #505050;
}

.section.about-me .title .header.sub {
  color: #e54e40;
}

.section.about-me .title .underscore {
  border-top: 4px solid #e54e40;
  margin-top: 40px;
  max-width: 100px;
  min-width: 100px;
}

.section.about-me .half {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  position: relative;
}
.section.about-me .half:first-child {
  padding-left: 0;
}
.section.about-me .half:last-child {
  padding-right: 0;
}

.section.about-me .half .graphics {
  display: flex;
  height: 250px;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.section.about-me .half .graphic {
  background: no-repeat center center;
  background-size: contain;
  flex: 1;
}

.section.about-me .ui-ux .graphic.first {
  background-image: url(/UX_UI_1.svg);
}

.section.about-me .ui-ux .graphic.second {
  background-image: url(/VCD_1.svg);
}

.section.about-me .industrial .graphic.first {
  background-image: url(/Sketching_1.svg);
}

.section.about-me .industrial .graphic.second {
  background-image: url(/CAD_1.svg);
}

.section.about-me .half .caption {
  font-family: 'Metropolis Light';
  font-size: 15px;
  padding-top: 30px;
  color: #505050;
  overflow-y: scroll;
}

.section.about-me .half .caption::-webkit-scrollbar {
  display: hidden;
}
