.sidebar .scene {
  width: 35%;
  height: 60px;
}

.carousel {
  width: 35%;
  height: 75px;
  position: absolute;
  transform: translateZ(-110px);
  transform-style: preserve-3d;
  transition: transform 1s;
  opacity: 0;
}

.carousel.visible {
  opacity: 1;
}

.carousel-cell {
  position: absolute;
  width: 430px;
  height: 80px;
  top: 0px;
  line-height: 80px;
  font-size: 45px;
  font-family: 'Metropolis Semibold';
  color: #e54e40;
  text-align: left;
  transition: transform 1s, opacity 1s;
  animation-name: fadeIn;
  overflow-wrap: break-word;
}

@keyframes fadeIn {
   0% {opacity: 0;}
   50% {opacity: 0;}
   100% {opacity: 1;}
}

.carousel-cell:nth-child(1) {
  background: hsla(0, 0%, 100%, 1);
}
.carousel-cell:nth-child(2) {
  background: hsla(0, 0%, 100%, 1);
}
.carousel-cell:nth-child(3) {
  background: hsla(0, 0%, 100%, 1);
}
.carousel-cell:nth-child(4) {
  background: hsla(0, 0%, 100%, 1);
}

.carousel-cell:nth-child(1) {
  transform: rotateX(0deg) translateZ(288px);
}
.carousel-cell:nth-child(2) {
  transform: rotateX(40deg) translateZ(288px);
}
.carousel-cell:nth-child(3) {
  transform: rotateX(80deg) translateZ(288px);
}
.carousel-cell:nth-child(4) {
  transform: rotateX(120deg) translateZ(288px);
}

.carousel-options {
  text-align: center;
  position: relative;
  z-index: 2;
  background: hsla(0, 0%, 100%, 0.8);
}