.link-underscore {
  position: absolute;
  width: 30px;
  margin-top: 15px;
  margin-left: 35px;
  border: 0;
  transform: translateX(0);
  border-top: 3px solid #e54e40;
  opacity: 1;
  transition: opacity 250ms;
}

.enter-section-1 .link-underscore {
  margin-left: 35px;
}

.enter-section-2 .link-underscore {
  margin-left: calc(35px + 77.59px)
}

.enter-section-5 .link-underscore {
  margin-left: calc(35px + 77.59px + 105.84px)
}

.enter-section-6 .link-underscore {
  margin-left: calc(35px + 77.59px + 105.84px + 117.61px)
}

