html {
  box-sizing: border-box;
  line-height: 1.3; /* Overide normalize */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.section {
  min-height: 100vh;
  padding: 70px;
  position: relative;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}