.modal {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 250ms;
  z-index: 3;
}

.modal.hidden {
  opacity: 0;
  pointer-events: none;
}

.modal .backdrop {
  background: #000;
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0.75;
  position: absolute;
  right: 0;
  top: 0;
}

.modal .content {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 20px;
  position: relative;
}
