.modal {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 250ms;
  z-index: 3;
}

.modal.hidden {
  opacity: 0;
  pointer-events: none;
}

.modal .backdrop {
  background: #000;
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0.75;
  position: absolute;
  right: 0;
  top: 0;
}

.project.modal .content {
  background: #fff;
  position: absolute;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.15);
  width: calc(100% - 140px);
  height: calc(100% - 140px);
  top: 70px;
  right: 70px;
  bottom: 70px;
  left: 70px;
  overflow-y: auto;
}

.project.first .caption {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Metropolis Semibold';
  font-size: 15px;
  height: 70px;
  width: 100%;
  bottom: 0;
}