.section.exp {
  max-height: 100vh;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.075);
}

.section.exp .body {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 140px);
}

.section.exp .title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 70px 0 0 70px;
  flex-shrink: 0;
}

.section.exp .title .header {
  font-family: 'Metropolis Regular';
  font-size: 37px;
  color: #505050;
}

.section.exp .title .underscore {
  border-top: 4px solid #e54e40;
  margin-top: 40px;
  max-width: 100px;
  min-width: 100px;
}
.section.exp .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 70px 70px;
  height: 100%;
  bottom: 0px;
}

.section.exp .jobs {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.section.exp .job {
  flex: 1;
  display: flex;
  width: 25%;
}

.section.exp .text{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 100%;
  padding: 30px 20px 0 0;
  overflow-x: none;
  overflow-y: auto;
}

.section.exp .text::-webkit-scrollbar {
  display: none;
}

.section.exp .header .role {
  padding: 0 15px 0 0;
  font-family: 'Metropolis Semibold';
  font-size: 15px;
  color: #e54e40
}

.section.exp .header .location {
  font-family: 'Metropolis Regular';
  font-size: 15px;
  color: #505050
}

.section.exp .position {
  font-family: 'Metropolis Regular';
  font-size: 15px;
  color: #505050;
  margin-bottom: 15px;
}

.section.exp .description {
  font-family: 'Metropolis Regular';
  font-size: 15px;
  color: #505050;
  overflow-x: hidden;
  overflow-y: auto;
}

.section.exp .description::-webkit-scrollbar {
  display: none;
}

.section.exp .timeline {
  display: flex;
  color: #505050;
  flex-direction: column;
  flex-shrink: 0;
}

.section.exp .timeline-svg {
  display: flex;
  width: 100%;
  min-height: 18.07px;
  overflow: hidden;
}

.section.exp .timeline .dates {
  display: flex;
  flex-direction: row;
}

.section.exp .end {
  padding-bottom: 30px;
}

.section.exp .timeline .dates .mmddyy {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Metropolis Regular';
  font-size: 15px;
  color: #505050;
}

.job.first {
  opacity: 0;
  transition: opacity .75s;
  transition-delay: 0s;
}

.transitioned-exp .job.first {
  opacity: 1;
}

.job.second {
  opacity: 0;
  transition: opacity .75s;
  transition-delay: .5s;
}

.transitioned-exp .job.second {
  opacity: 1;
}

.job.third {
  opacity: 0;
  transition: opacity .75s;
  transition-delay: 1s;
}

.transitioned-exp .job.third {
  opacity: 1;
}

.job.fourth {
  opacity: 0;
  transition: opacity .75s;
  transition-delay: 1.5s;
}

.transitioned-exp .job.fourth {
  opacity: 1;
}

.mmddyy.one {
  opacity: 0;
  transition: opacity .75s;
  transition-delay: 0s;
}

.transitioned-exp .mmddyy.one {
  opacity: 1;
}

.mmddyy.two {
  opacity: 0;
  transition: opacity .75s;
  transition-delay: .5s;
}

.transitioned-exp .mmddyy.two {
  opacity: 1;
}

.mmddyy.three {
  opacity: 0;
  transition: opacity .75s;
  transition-delay: 1s;
}

.transitioned-exp .mmddyy.three {
  opacity: 1;
}

.mmddyy.four {
  opacity: 0;
  transition: opacity .75s;
  transition-delay: 1.5s;
}

.transitioned-exp .mmddyy.four {
  opacity: 1;
}

.resume-button-wrapper {
  bottom: 70px;
  left: 140px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  padding-top: 40px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  transform: translateY(0); 
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition: box-shadow .25s;
  transition: transform .05s;
}

.resume-button {
  align-items: center;
  background-color: #ffffff;
  color: #e54e40;
  border: 3px solid #e54e40;
  padding: 2px 10px;
  display: flex;
  cursor: pointer;
  user-select: none;
  transition: all 250ms;
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.resume-button-wrapper:hover, .resume-button-wrapper:focus, .resume-button-wrapper:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-in-out, ease-in-out;
  animation-timing-function: ease-in-out, ease-in-out;
  -webkit-animation-iteration-count: 2, infinite;
  animation-iteration-count: 2, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: alternate, forwards;
  animation-direction: alternate, forwards;
  box-shadow: 0 10px 10px -3px rgba(0, 0, 0, 0.1);
  transition: all .25s;
}

.resume-button .button-content {
  font-family: 'Metropolis Semibold', sans-serif;
  font-size: 12px;
  margin-top: 6px;
  padding-right: 10px;
}

.resume-button .button-graphic {
  min-height: 10px;
  min-width: 6px;
}