.section.my-process {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section.my-process .title {
  display: flex;
  flex-direction: column;
  padding: 70px 0 0 70px;
}

.section.my-process .title .header-1 {
  font-family: 'Metropolis Regular';
  font-size: 37px;
  color: #505050;
}

.section.my-process .title .header-2 {
  font-family: 'Metropolis Regular';
  font-size: 37px;
  color: #e54e40;
}

.section.my-process .title .underscore {
  border-top: 4px solid #e54e40;
  margin-top: 40px;
  max-width: 100px;
  min-width: 100px;
}

.section.my-process .content {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 40px 0 0 70px;
}