.section.skills {
  display: flex;
  flex-direction: column;
  padding: 5vw 0 0 5vw;
}

.section.skills .title {
  display: flex;
  flex-direction: column;
  padding: 5vw 0 0 5vw;
}

.section.skills .title .header {
  font-family: 'Metropolis Regular';
  font-size: 37px;
  color: #505050;
}

.section.skills .title .underscore {
  border-top: 0.25vw solid #e54e40;
  margin-top: 40px;
  max-width: 100px;
  min-width: 100px;
}

.section.skills .body {
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 10vh);
}

.section.skills .charts {
  display: flex;
  height: 50vh;
  padding-top: 30px;
}

.section.skills .categories {
  display: flex;
  font-family: 'Metropolis Semibold';
  font-size: 15px;
  margin: 30px 0 20px 0;
}

.section.skills .category {
  flex: 1;
  display: flex;
  justify-content: center;
  color: #e54e40
}

.section.skills .charts .UI-UX {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-size: cover;
}

.section.skills .charts .Industrial {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-size: cover;
}

.section.skills .charts .misc {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-size: cover;
}
